@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #fff;
  --primary: #2563eb; /* blue-600 */
  --secondary: #e5e7eb; /* gray-200 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


@keyframes floating {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 20s ease-in-out infinite;
}
